@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search-box .clear {
        clear: both;
        margin-top: 20px;
    }
    .search-box ul {
        list-style: none;
        padding: 0;
        position: absolute;
        margin: 0;
        background: white;
        max-height: 200px; /* Устанавливаем максимальную высоту */
        overflow-y: auto; /* Добавляем вертикальный скролл */
        /*border: 1px solid #ccc; !* Добавляем рамку для красоты *!*/
    }
    .search-box ul li {
        background: lavender;
        padding: 2px;
        margin-bottom: 1px;
    }
    .search-box ul li:nth-child(even) {
        background: cadetblue;
        color: white;
    }
    .search-box ul li:hover {
        cursor: pointer;
    }
    /*.search-box input[type="text"] {*/
    /*    padding: 5px;*/
    /*    width: 250px;*/
    /*    letter-spacing: 1px;*/
    /*}*/
}

.btn-primary {
    @apply inline-flex w-28 items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-xs font-semibold tracking-widest text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}
